<div *ngIf="!match">
  loading...
</div>
<div *ngIf="match">
  <nz-card [nzTitle]="match.video_title" 
  nzHoverable style="width:350px" 
  [nzCover]="coverTemplate"
  [nzActions]="[actionPov, actionOponent]"
  >
</nz-card>
<ng-template #coverTemplate>
  <iframe width="327" height="184" [src]="match.vide_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </ng-template>
  <ng-template #actionPov>
  
  Player: {{ match.player.name }}<br/>
  <div class="town-icon {{ match.town_id }}">&nbsp;</div>
  Town: {{ match.town.name }}<br/>
  Hero: {{ match.hero.name }}<br/>
  
  </ng-template>
  <ng-template #actionOponent>
  
  @for (opponent of match.opponents; track opponent) {
  
  Apponont: {{ opponent.player_id }}<br/>
  Town: {{ opponent.town_id }}<br/>
  Hero: {{ opponent.hero_id }}<br/>
  <div class="town-icon {{ opponent.town_id }}">&nbsp;</div> 
  }
  </ng-template>
  
  
</div>


