.town-icon {
 background-image: url('https://heroes.thelazy.net//images/0/07/Itpa.png');
 width: 46px;
 height: 32px;
 background-repeat: no-repeat;
 /*
    background-position: 0 0; castle
    background-position: 100px 0; Rampart
 */
}

.castle {
    background-position: -96px 0;
}

.rampart {
    background-position: -192px 0;
}

.tower {
    background-position: -288px 0;
}

.tower {
    background-position: -288px 0;
}

.inferno {
    background-position: -384px 0;
}

.necropolis {
    background-position: -480px 0;
}

.dungeon {
    background-position: -576px 0;
}

.stronghold {
    background-position: -672px 0;
}

.fortress {
    background-position: -768px 0;
}

.conflux {
    background-position: -864px 0;
}

.cove {
    background-position: -960px 0;
}

