<nz-list nzItemLayout="vertical">
  @for (item of data; track item) {
    <nz-list-item>
      <nz-list-item-meta>
        <!-- <nz-list-item-meta-avatar [nzSrc]="item.avatar"></nz-list-item-meta-avatar> -->
        <nz-list-item-meta-title>
          {{ item.match.video_title}}
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <b>Player POV</b><br/>
          Player: {{ item.match.player.name }}<br/>
          Town: {{ item.match.town.name }}<br/>
          Hero: {{ item.match.hero.name }}<br/>
          <b>Apponont:</b><br/>
          @for (opponent of item.match.opponents; track opponent) {
            Player: {{ opponent.player_id }}<br/>
            Town: {{ opponent.town_id }}<br/>
            Hero: {{ opponent.hero_id }}<br/>
          }
          
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <!-- <nz-list-item-action>
          <span nz-icon nzType="star-o" style="margin-right: 8px;"></span>
          156
        </nz-list-item-action>
        <nz-list-item-action>
          <span nz-icon nzType="star-o" style="margin-right: 8px;"></span>
          156
        </nz-list-item-action>
        <nz-list-item-action>
          <span nz-icon nzType="star-o" style="margin-right: 8px;"></span>
          2
        </nz-list-item-action> -->
      </ul>
      <nz-list-item-extra>
        <iframe width="327" height="184" [src]="item.vide_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <!-- <a href="{{ item.href }}">
          <img width="272" alt="logo" src="{{ item.thumbnail }}" />
        </a> -->
      </nz-list-item-extra>
    </nz-list-item>
  }
</nz-list>