<nz-list nzGrid>
  <div nz-row >
@for (filter of listOfFilters; track filter) {
  <nz-list-item>
      <app-filter-item [filter_key]="filter"></app-filter-item>
  </nz-list-item>
}
  </div>
</nz-list>

<!-- <nz-select nzShowSearch nzAllowClear 
    nzMode="multiple"
    nzPlaceHolder="Inserted are removed" 
    [(ngModel)]="listOfSelected"
    (ngModelChange)="onFilterChange($event,'player_id')"
    >
    @for (option of listOfOption; track option) {
      <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
    }
  </nz-select>

  <p>Selected Values: {{ listOfSelected }}</p>   -->